<div id="add-link-dialog" class="tdialog" title="Add note link">
    <form id="add-link-form">
        <div id="add-link-type-div" class="radio">
            <label title="Add HTML link to the selected note at cursor in current note">
                <input type="radio" name="add-link-type" value="html"/>
                add normal HTML link</label>

            <label title="Add selected note as a child of current note">
                <input type="radio" name="add-link-type" value="selected-to-current"/>
                add selected note to current note</label>

            <label title="Add current note as a child of the selected note">
                <input type="radio" name="add-link-type" value="current-to-selected"/>
                add current note to selected note</label>
        </div>

        <div class="form-group">
            <label for="note-autocomplete">Note</label>

            <div class="input-group">
                <input id="note-autocomplete" class="form-control" placeholder="search for note by its name">

                    <div class="input-group-append">
                        <span class="input-group-text show-recent-notes-button" title="Show recent notes"></span>
                    </div>
            </div>
        </div>

        <div class="form-group" id="add-link-title-form-group">
            <label for="link-title">Link title</label>
            <input id="link-title" class="form-control" style="width: 100%;">
        </div>

        <div class="form-group" id="add-link-prefix-form-group" title="Cloned note will be shown in note tree with given prefix">
            <label for="clone-prefix">Prefix (optional)</label>
            <input id="clone-prefix" class="form-control" style="width: 100%;">
        </div>

        <div style="display: flex; justify-content: space-between">
            <button class="btn btn-primary">Add note link <kbd>enter</kbd></button>

            <button class="btn btn-sm" type="button" data-help-page="Links">
                <i class="glyphicon glyphicon-info-sign"></i> Help
            </button>
        </div>
    </form>
</div>