<style>
    #bulk-available-action-list button {
        font-size: small;
        padding: 2px 7px;
        margin-right: 10px;
        margin-bottom: 5px;
    }
</style>

<div id="bulk-assign-attributes-dialog" class="modal mx-auto" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" style="max-width: 1000px" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title mr-auto">Bulk assign attributes</h5>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-left: 0 !important;">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="clone-to-form">
                <div class="modal-body">
                    Affected notes: <span id="affected-note-count">0</span>

                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="include-descendants">
                        <label class="form-check-label" for="include-descendants">
                            Include descendant notes
                        </label>
                    </div>

                    Available actions:

                    <div id="bulk-available-action-list"></div>

                    <div id="bulk-existing-action-list"></div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Execute bulk actions</button>
                </div>
            </form>
        </div>
    </div>
</div>
