<div id="bulk-assign-attributes-dialog" class="modal mx-auto" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" style="max-width: 1000px" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title mr-auto">Bulk assign attributes</h5>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-left: 0 !important;">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="clone-to-form">
                <div class="modal-body">
                    Hi!
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Assign attributes</button>
                </div>
            </form>
        </div>
    </div>
</div>
