<div id="delete-notes-dialog" class="modal mx-auto" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-scrollable modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title mr-auto">Delete notes preview</h4>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="checkbox">
                    <label>
                        <input id="delete-all-clones" value="1" type="checkbox">

                        delete also all clones
                    </label>
                </div>

                <div class="checkbox">
                    <label title="Normal (soft) deletion only marks the notes as deleted and they can be undeleted (in recent changes dialog) within a period of time. Checking this option will erase the notes immediatelly and it won't be possible to undelete the notes.">
                        <input id="erase-notes" value="1" type="checkbox">

                        erase notes permanently (can't be undone). This will force application reload.
                    </label>
                </div>

                <div id="delete-notes-list-wrapper">
                    <h4>Following notes will be deleted (<span id="deleted-notes-count"></span>)</h4>

                    <ul id="delete-notes-list" style="max-height: 200px; overflow: auto;"></ul>
                </div>

                <div id="no-note-to-delete-wrapper" class="alert alert-info">
                    No note will be deleted (only clones).
                </div>

                <div id="broken-relations-wrapper">
                    <div class="alert alert-danger">
                        <h4>Following relations will be broken and deleted (<span id="broke-relations-count"></span>)</h4>

                        <ul id="broken-relations-list" style="max-height: 200px; overflow: auto;"></ul>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-sm" id="delete-notes-dialog-cancel-button">Cancel</button>

                &nbsp;

                <button class="btn btn-primary btn-sm" id="delete-notes-dialog-ok-button">OK</button>
            </div>
        </div>
    </div>
</div>
