<div id="delete-notes-dialog" class="modal mx-auto" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title mr-auto">Delete notes</h5>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ... delete
            </div>
            <div class="modal-footer">
                <button class="btn btn-sm" id="delete-notes-dialog-cancel-button">Cancel</button>

                &nbsp;

                <button class="btn btn-primary btn-sm" id="delete-notes-dialog-ok-button">OK</button>
            </div>
        </div>
    </div>
</div>
