<div id="edit-tree-prefix-dialog" class="tdialog" title="Edit tree prefix">
  <form id="edit-tree-prefix-form">
    <div class="form-group">
      <label for="tree-prefix-input">Prefix: </label> &nbsp;
      <input id="tree-prefix-input" style="width: 20em;"> - <span id="tree-prefix-note-title"></span>
    </div>

    <div style="display: flex; justify-content: space-between;">
      <button class="btn btn-sm">Save</button>

      <button class="btn btn-sm" type="button" data-help-page="Tree-concepts#prefix">
        <i class="glyphicon glyphicon-info-sign"></i> Help
      </button>
    </div>
  </form>
</div>