<div id="export-subtree-dialog" class="modal fade mx-auto" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Export subtree</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="export-subtree-form">
                <div class="modal-body">
                    <div>Export note "<span class="note-title"></span>" and its subtree in the following format:</div>

                    <br/>

                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="export-format" id="export-format-tar" value="native-tar" checked>
                        <label class="form-check-label" for="export-format-tar">Native TAR - this is Trilium's native format which preserves all notes' data & metadata.</label>
                    </div>

                    <br/>

                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="export-format" id="export-format-opml" value="opml">
                        <label class="form-check-label" for="export-format-opml">
                            OPML - standard outliner interchange format for text only. Formatting, images, files are not included.
                        </label>
                    </div>

                    <br/>

                    <div class="form-check disabled">
                        <input class="form-check-input" type="radio" name="export-format" id="export-format-markdown"
                               value="markdown-tar">
                        <label class="form-check-label" for="export-format-markdown">
                            Markdown - TAR archive of Markdown formatted notes
                        </label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary btn-sm">Export</button>
                </div>
            </form>
        </div>
    </div>
</div>
