<div id="include-note-dialog" class="modal mx-auto" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Include note</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="include-note-form">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="include-note-autocomplete">Note</label>
                        <div class="input-group">
                            <input id="include-note-autocomplete" class="form-control" placeholder="search for note by its name">
                        </div>
                    </div>

                    Box size of the included note:

                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="include-note-box-size" value="small" id="include-note-box-size-small">
                        <label class="form-check-label" for="include-note-box-size-small">
                            small (~ 10 lines)
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="include-note-box-size" value="medium" id="include-note-box-size-medium" checked>
                        <label class="form-check-label" for="include-note-box-size-medium">
                            medium (~ 30 lines)
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="include-note-box-size" value="full" id="include-note-box-size-full">
                        <label class="form-check-label" for="include-note-box-size-full">
                            full (box shows complete text)
                        </label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Include note <kbd>enter</kbd></button>
                </div>
            </form>
        </div>
    </div>
</div>