<div id="include-note-dialog" class="modal mx-auto" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Include note</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="include-note-form">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="include-note-autocomplete">Note</label>
                        <div class="input-group">
                            <input id="include-note-autocomplete" class="form-control" placeholder="search for note by its name">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Include note <kbd>enter</kbd></button>
                </div>
            </form>
        </div>
    </div>
</div>