<div id="jump-to-note-dialog" class="tdialog" title="Jump to note">
    <div class="form-group">
        <label for="jump-to-note-autocomplete">Note</label>
        <div class="input-group">
            <input id="jump-to-note-autocomplete" class="form-control" placeholder="search for note by its name">

            <div class="input-group-append">
                <span class="input-group-text show-recent-notes-button" title="Show recent notes"></span>
            </div>
        </div>
    </div>

    <button id="show-in-full-text-button" class="btn btn-sm">Search in full text <kbd>ctrl+enter</kbd></button>
</div>