<div id="markdown-import-dialog" class="tdialog" title="Markdown import" style="padding: 20px;">
  <p>Because of browser sandbox it's not possible to directly read clipboard from JavaScript. Please paste the Markdown to import to textarea below and click on Import button</p>

  <textarea id="markdown-import-textarea" style="height: 340px; width: 100%"></textarea>

  <button id="markdown-import-button" class="btn btn-primary">Import <kbd>CTRL+Enter</kbd></button>
</div>
