<div id="move-to-dialog" class="modal mx-auto" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" style="max-width: 1000px" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title mr-auto">Move notes to ...</h5>
                
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-left: 0 !important;">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="move-to-form">
                <div class="modal-body">
                    <h5>Notes to move</h5>

                    <ul id="move-to-note-list" style="max-height: 200px; overflow: auto;"></ul>

                    <div class="form-group">
                        <label for="move-to-note-autocomplete">Target parent note</label>

                        <div class="input-group">
                            <input id="move-to-note-autocomplete" class="form-control" placeholder="search for note by its name">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Move to selected note <kbd>enter</kbd></button>
                </div>
            </form>
        </div>
    </div>
</div>
