<div id="note-revisions-dialog" class="tdialog" title="Note revisions">
    <div style="display: flex;">
        <select id="note-revision-list" size="25" style="width: 150px; height: 630px;">
        </select>

        <div id="note-revision-content-wrapper" style="flex-grow: 1; margin-left: 20px;">
            <div style="display: flex">
                <h3 id="note-revision-title" style="margin: 3px; flex-grow: 100;"></h3>

                <div>
                    <button class="btn btn-sm" type="button" data-help-page="Note-revisions">
                        <i class="glyphicon glyphicon-info-sign"></i> Help
                    </button>
                </div>
            </div>

            <div id="note-revision-content" style="height: 600px; width: 600px; overflow: auto;"></div>
        </div>
    </div>
</div>