<div id="note-revisions-dialog" class="modal fade mx-auto" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title mr-auto">Note revisions</h5>

        <button class="help-button" type="button" data-help-page="Note-revisions" title="Help on Note revisions">?</button>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-left: 0 !important;">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="display: flex;">
        <select id="note-revision-list" size="25" style="width: 150px; height: 630px;">
        </select>

        <div id="note-revision-content-wrapper" style="flex-grow: 1; margin-left: 20px;">
          <div style="display: flex">
            <h3 id="note-revision-title" style="margin: 3px; flex-grow: 100;"></h3>
          </div>

          <div id="note-revision-content" style="height: 600px; width: 600px; overflow: auto;"></div>
        </div>
      </div>
    </div>
  </div>
</div>