<div id="prompt-dialog" class="modal mx-auto" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <form id="prompt-dialog-form">
                <div class="modal-header">
                    <h5 class="modal-title mr-auto" id="prompt-title">Prompt</h5>

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary btn-sm" id="prompt-dialog-ok-button">OK <kbd>enter</kbd></button>
                </div>
            </form>
        </div>
    </div>
</div>
