<div id="protected-session-password-dialog" class="tdialog" title="Protected session">
    <form id="protected-session-password-form">
        <div class="form-group">
            <label for="protected-session-password">To proceed with requested action you need to start protected session by entering password:</label>
            <input id="protected-session-password" class="form-control" type="password">
        </div>

        <div style="display: flex; justify-content: space-between;">
            <button class="btn btn-sm">Start protected session <kbd>enter</kbd></button>

            <button class="btn btn-sm" type="button" data-help-page="Protected-notes">
                <i class="glyphicon glyphicon-info-sign"></i> Help
            </button>
        </div>
    </form>
</div>