<div id="sql-console-dialog" class="tdialog" title="SQL console">
  <div id="sql-console-query"></div>

  <div style="text-align: center">
    <button class="btn btn-danger" id="sql-console-execute">Execute <kbd>CTRL+ENTER</kbd></button>
  </div>

  <table id="sql-console-results" class="table table-striped" style="overflow: scroll; width: 100%;">
    <thead></thead>
    <tbody></tbody>
  </table>
</div>