.DS_Store
code/node_modules/
code/dist/
code/src/public/app-dist/
npm-debug.log
yarn-error.log
*.db
config.ini
cert.key
cert.crt
server-package.json
.idea/httpRequests/
data/
code/data/
code/tmp/
code/.eslintcache
code/db-data