## Add all gitignores
!**/.gitignore
!.gitignore
## Empty folders which should be kept
!**/.keep
!.keep

#### OS
### Mac OS
## macOS system files
.DS_Store

##### Development
#### Node
## Node.js dependencies directory
node_modules/
## Build directories
dist/
src/public/app-dist/
## Log files generated
npm-debug.log
yarn-error.log
## Databases
*.db
## Keys & Certs
config.ini
cert.key
cert.crt
## Server-specific package.json
server-package.json
#### ESLInt
## Cache
.eslintcache
### Tmp files
tmp/

##### IDEs
#### JetBrains
## Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio, WebStorm and Rider
## Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839
**/.idea/*
!**/.idea/.gitignore
#### VisualStudioCode / VSCode / VSCodium
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
## Local History for Visual Studio Code
.history/
## Built Visual Studio Code Extensions
*.vsix
#### Kate template
## Swap Files
.*.kate-swp
.swp.*

## ---------------------

data/
data-test/
