#container {
    margin: 0 auto; /* center */
    height: 100vh;

    display: grid;
    grid-template-areas: "header header"
                         "tree-actions title"
                         "tree note-content"
                         "parent-list note-content";
    grid-template-columns: 2fr 5fr;
    grid-template-rows: auto
                        auto
                        1fr;
    justify-content: center;
    grid-gap: 10px;
}

#header {
    grid-area: header;
    background-color: #f1f1f1;
    display: flex;
    align-items: center;
}

.note-editable {
    /* This is because with empty content height of editor is 0 and it's impossible to click into it */
    min-height: 400px;
    overflow: auto;
}

.note-editable.protected {
    background-color: #eee;
}

.note-editable p {
    padding: 0;
    margin: 0;
}

ul.fancytree-container {
    overflow: auto;
    position: relative;
    outline: none !important;
}

/* icons from https://feathericons.com */
span.fancytree-node > span.fancytree-icon {
    background-position: 0 0;
    background-image: url("../images/icons/file.png");
}

span.fancytree-node.fancytree-folder > span.fancytree-icon {
    background-position: 0 0;
    background-image: url("../images/icons/folder.png");
}

span.fancytree-node.protected > span.fancytree-icon {
    background-position: 0 0;
    background-image: url("../images/icons/file-shaded.png");
}

span.fancytree-node.protected.fancytree-folder > span.fancytree-icon {
    background-position: 0 0;
    background-image: url("../images/icons/folder-shaded.png");
}

span.fancytree-node.multiple-parents .fancytree-title {
    text-decoration: underline dotted;
}

span.fancytree-node.fancytree-active-clone:not(.fancytree-active) .fancytree-title {
    font-weight: bold;
}

.ui-autocomplete {
    max-height: 300px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
}

.icon-action:hover {
    text-decoration: none;
}

#protect-button, #unprotect-button {
    display: none;
}

.ui-widget-content a {
    color: #337ab7 !important;
}

#header-title {
    padding: 5px 50px 5px 10px;
    font-size: large;
    font-weight: bold;
}

#header .btn-xs {
    margin-bottom: 2px;
    margin-right: 8px;
}

div.ui-tooltip {
    max-width: 600px;
    max-height: 600px;
    overflow: auto;
}

.alert {
    padding: 5px;
    width: auto;
}

#loader-wrapper{position:fixed;top:0;left:0;width:100%;height:100%;z-index:1000;background-color:#fff;opacity:1;transition:opacity 2s ease}
#loader{display:block;position:relative;left:50%;top:50%;width:150px;height:150px;margin:-75px 0 0 -75px;border-radius:50%;border:3px solid transparent;border-top-color:#777;-webkit-animation:spin 2s linear infinite;animation:spin 2s linear infinite}
#loader:before{content:"";position:absolute;top:5px;left:5px;right:5px;bottom:5px;border-radius:50%;border:3px solid transparent;border-top-color:#aaa;-webkit-animation:spin 3s linear infinite;animation:spin 3s linear infinite}
#loader:after{content:"";position:absolute;top:15px;left:15px;right:15px;bottom:15px;border-radius:50%;border:3px solid transparent;border-top-color:#ddd;-webkit-animation:spin 1.5s linear infinite;animation:spin 1.5s linear infinite}
@-webkit-keyframes spin{0%{-webkit-transform:rotate(0deg);-ms-transform:rotate(0deg);transform:rotate(0deg)}100%{-webkit-transform:rotate(360deg);-ms-transform:rotate(360deg);transform:rotate(360deg)}}
@keyframes spin{0%{-webkit-transform:rotate(0deg);-ms-transform:rotate(0deg);transform:rotate(0deg)}100%{-webkit-transform:rotate(360deg);-ms-transform:rotate(360deg);transform:rotate(360deg)}}