<div class="note-detail-book note-detail-component">
    <div class="btn-group floating-button" style="right: 20px; top: 20px;">
        <button type="button"
                class="expand-children-button btn icon-button bx bx-move-vertical"
                title="Expand all children"></button>

        <button type="button"
                class="book-zoom-in-button btn icon-button bx bx-zoom-in"
                title="Zoom In"></button>

        <button type="button"
                class="book-zoom-out-button btn icon-button bx bx-zoom-out"
                title="Zoom Out"></button>
    </div>

    <div class="note-detail-book-content"></div>
</div>