<div class="note-detail-book note-detail-component">
    <div class="btn-group floating-button" style="right: 25px; top: 20px;">
        <button type="button"
                class="book-zoom-in btn icon-button jam jam-search-plus"
                title="Zoom In"></button>

        <button type="button"
                class="book-zoom-out btn icon-button jam jam-search-minus"
                title="Zoom Out"></button>
    </div>

    <div class="note-detail-book-content"></div>
</div>