<div id="note-detail-wrapper">
    <span id="saved-indicator" title="All changes have been saved" class="jam jam-check"></span>

    <div id="note-detail-script-area"></div>

    <table id="note-detail-promoted-attributes"></table>

    <div id="note-detail-component-wrapper">
        <div id="note-detail-text" class="note-detail-component" tabindex="10000"></div>

        <div id="note-detail-code" class="note-detail-component"></div>
        <input type="file" id="file-upload" style="display: none" />

        <% include search.ejs %>

        <% include render.ejs %>

        <% include file.ejs %>

        <% include image.ejs %>

        <% include relation_map.ejs %>

        <div id="children-overview"></div>
    </div>

    <div id="attribute-list">
        <button class="btn btn-sm show-attributes-button">Attributes:</button>

        <span id="attribute-list-inner"></span>
    </div>
</div>