<div class="note-detail-empty note-detail-component">
    <div class="form-group">
        <label>Open note by typing note's title into input below or choose a note in the tree.</label>
        <div class="input-group">
            <input class="form-control note-autocomplete" placeholder="search for note by its name">
        </div>
    </div>
</div>