<div class="note-detail-file note-detail-component">
    <table class="file-table">
        <tr>
            <th>Note ID:</th>
            <td class="file-note-id"></td>
        </tr>
        <tr>
            <th>Original file name:</th>
            <td class="file-filename"></td>
        </tr>
        <tr>
            <th>File type:</th>
            <td class="file-filetype"></td>
        </tr>
        <tr>
            <th>File size:</th>
            <td class="file-filesize"></td>
        </tr>
        <tr class="file-preview-row">
            <th>Preview:</th>
            <td>
                <pre class="file-preview-content"></pre>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <button class="file-download btn btn-primary" type="button">Download</button>
                &nbsp;
                <button class="file-open btn btn-primary" type="button">Open</button>
            </td>
        </tr>
    </table>
</div>