<div id="note-detail-file" class="note-detail-component">
    <table id="file-table">
        <tr>
            <th>Original file name:</th>
            <td id="file-filename"></td>
        </tr>
        <tr>
            <th>File type:</th>
            <td id="file-filetype"></td>
        </tr>
        <tr>
            <th>File size:</th>
            <td id="file-filesize"></td>
        </tr>
        <tr id="file-preview-row">
            <th>Preview:</th>
            <td>
                <pre id="file-preview-content"></pre>
            </td>
        </tr>
        <tr>
            <td>
                <button id="file-download" class="btn btn-primary" type="button">Download</button>
                &nbsp;
                <button id="file-open" class="btn btn-primary" type="button">Open</button>
            </td>
        </tr>
    </table>
</div>