<div class="note-detail-image note-detail-component">
    <strong>Original file name:</strong>
    <span class="image-filename"></span>

    &nbsp; &nbsp;

    <strong>File type:</strong>
    <span class="image-filetype"></span>

    &nbsp; &nbsp;

    <strong>File size:</strong>
    <span class="image-filesize"></span>

    <br/><br/>

    <button class="image-download btn btn-primary" type="button">Download</button>

    &nbsp; &nbsp;

    <button class="image-copy-to-clipboard btn btn-primary" type="button">Copy to clipboard</button>

    <br/><br/>

    <div class="note-detail-image-wrapper">
        <img class="note-detail-image-view" />
    </div>
</div>