<div id="note-detail-image" class="note-detail-component">
    <strong>Original file name:</strong>
    <span id="image-filename"></span>

    &nbsp; &nbsp;

    <strong>File type:</strong>
    <span id="image-filetype"></span>

    &nbsp; &nbsp;

    <strong>File size:</strong>
    <span id="image-filesize"></span>

    <br/><br/>

    <button id="image-download" class="btn btn-primary" type="button">Download</button>

    &nbsp; &nbsp;

    <button id="image-copy-to-clipboard" class="btn btn-primary" type="button">Copy to clipboard</button>

    <br/><br/>

    <div id="note-detail-image-wrapper">
        <img id="note-detail-image-view" />
    </div>
</div>