<div id="note-detail-image" class="note-detail-component">
    <img id="note-detail-image-view" />

    <br/>
    <br/>
    <button id="image-download" class="btn btn-primary" type="button">Download</button>

    &nbsp;

    <button id="image-copy-to-clipboard" class="btn btn-primary" type="button">Copy to clipboard</button>
</div>