<div id="note-detail-image" class="note-detail-component">
    <img id="note-detail-image-view" />

    <br/>
    <br/>
    <button id="file-download" class="btn btn-primary" type="button">Download</button>
</div>