<div class="protected-session-password-component note-detail-component">
    <form class="protected-session-password-form">
        <div class="form-group">
            <label for="protected-session-password-in-detail">Showing protected note requires entering your password:</label>
            <input class="protected-session-password-in-detail form-control protected-session-password" type="password">
        </div>

        <button class="btn btn-primary">Start protected session <kbd>enter</kbd></button>
    </form>
</div>