<div class="note-detail-relation-map note-detail-component">
    <button class="relation-map-create-child-note btn btn-sm floating-button" type="button"
            title="Create new child note and add it into this relation map">
        <span class="jam jam-plus"></span>

        Create child note
    </button>

    <button type="button"
            class="relation-map-reset-pan-zoom btn icon-button floating-button jam jam-crop"
            title="Reset pan & zoom to initial coordinates and magnification"
            style="right: 70px;"></button>

    <div class="btn-group floating-button" style="right: 10px;">
        <button type="button"
                class="relation-map-zoom-in btn icon-button jam jam-search-plus"
                title="Zoom In"></button>

        <button type="button"
                class="relation-map-zoom-out btn icon-button jam jam-search-minus"
                title="Zoom Out"></button>
    </div>

    <div class="relation-map-wrapper">
       <div class="relation-map-container"></div>
    </div>
</div>