<div id="note-detail-relation-map" class="note-detail-component">
    <button id="relation-map-add-child-notes" class="btn" type="button"
            title="Add all child notes of this relation map note">Add child notes</button>

    &nbsp;

    <button id="relation-map-create-child-note" class="btn" type="button"
            title="Create new child note and add it into this relation map">Create child note</button>

    <div class="btn-group" style="float: right; padding-right: 20px;">
        <button type="button"
                class="btn icon-button24"
                title="Zoom In"
                id="relation-map-zoom-in"
                style="background-image: url('/images/icons/zoom-in-24.png');"/>

        <button type="button"
                class="btn icon-button24"
                title="Zoom Out"
                id="relation-map-zoom-out"
                style="background-image: url('/images/icons/zoom-out-24.png');"/>
    </div>

    <div id="relation-map-canvas"></div>
</div>