<div id="note-detail-relation-map" class="note-detail-component">
    <button id="relation-map-create-child-note" class="btn btn-sm floating-button" type="button"
            title="Create new child note and add it into this relation map">
        <span class="jam jam-plus"></span>

        Create child note
    </button>

    <button type="button"
            class="btn icon-button floating-button jam jam-crop"
            title="Reset pan & zoom to initial coordinates and magnification"
            id="relation-map-reset-pan-zoom" style="right: 100px;"></button>

    <div class="btn-group floating-button" style="right: 40px;">
        <button type="button"
                class="btn icon-button jam jam-search-plus"
                title="Zoom In"
                id="relation-map-zoom-in"></button>

        <button type="button"
                class="btn icon-button jam jam-search-minus"
                title="Zoom Out"
                id="relation-map-zoom-out"></button>
    </div>

    <div id="relation-map-wrapper">
       <div id="relation-map-container"></div>
    </div>
</div>