<div id="note-detail-relation-map" class="note-detail-component">
    <button id="relation-map-add-child-notes" class="btn" type="button"
            title="Add all child notes of this relation map note">Add child notes</button>

    &nbsp;

    <button id="relation-map-create-child-note" class="btn" type="button"
            title="Create new child note and add it into this relation map">Create child note</button>

    <div class="btn-group" style="float: right; padding-right: 20px;">
        <button type="button"
                class="btn icon-button jam jam-plus"
                title="Zoom In"
                id="relation-map-zoom-in"></button>

        <button type="button"
                class="btn icon-button jam jam-minus"
                title="Zoom Out"
                id="relation-map-zoom-out"></button>
    </div>

    <div id="relation-map-wrapper">
       <div id="relation-map-container"></div>
    </div>
</div>