<div class="note-detail-search note-detail-component">
    <div style="display: flex; align-items: center; margin-right: 20px; margin-top: 15px;">
        <strong>Search string: &nbsp; &nbsp;</strong>
        <textarea rows="4" style="width: auto !important; flex-grow: 4" class="search-string form-control"></textarea>

        <span>
            &nbsp; &nbsp;
            <button type="button" class="btn btn-primary note-detail-search-refresh-results-button">Refresh search results</button>
        </span>
    </div>

    <br />

    <div class="note-detail-search-help"></div>
</div>