<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Login</title>
  </head>
  <body>
    <div style="width: 400px; margin: auto; padding-top: 30px;">
        <h1>Trilium login</h1>

        <% if (failedAuth) { %>
        <div class="alert alert-warning">
            Username and / or password are incorrect. Please try again.
        </div>
        <% } %>

        <form action="login" method="POST">
            <div class="form-group">
                <label for="username">Username</label>
                <div class="controls">
                    <input id="username" name="username" placeholder="" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <div class="controls">
                    <input id="password" name="password" placeholder="" class="form-control" type="password">
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input id="remember-me" name="remember_me" value="1" type="checkbox"> Remember me
                    </label>
                </div>
            </div>
            <div class="form-group">
                <button class="btn btn-success">Login</button>
            </div>
        </form>
    </div>

    <!-- Required for correct loading of scripts in Electron -->
    <script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>

    <link href="libraries/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  </body>
</html>