<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Trilium Notes</title>
</head>
<body>
<div class="row">
    <div id="tree" class="d-sm-block d-md-block d-lg-block d-xl-block col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4"></div>

    <div id="detail" class="d-none d-sm-block d-md-block d-lg-block d-xl-block col-12 col-sm-8 col-md-8 col-lg-8">
        <div style="display: flex; padding-left: 10px;">
            <input autocomplete="off" value="" id="note-title" class="form-control" tabindex="1">

            <button type="button" id="close-detail-button" class="close d-sm-none d-md-none d-lg-none d-xl-none" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <div style="position: relative;">
            <span id="saved-indicator" title="All changes have been saved" class="jam jam-check"></span>

            <div id="note-detail-text" class="note-detail-component" tabindex="10000"></div>

            <div id="note-detail-code" class="note-detail-component"></div>

            <% include details/search.ejs %>

            <% include details/render.ejs %>

            <% include details/file.ejs %>

            <% include details/image.ejs %>

            <% include details/relation_map.ejs %>
        </div>
    </div>
</div>

<script type="text/javascript">
    window.baseApiUrl = 'api/';
    window.device = "mobile";
    window.glob = {
        activeDialog: null,
        sourceId: '<%= sourceId %>',
        maxSyncIdAtLoad: <%= maxSyncIdAtLoad %>,
        instanceName: '<%= instanceName %>'
    };
</script>

<script src="libraries/jquery.min.js"></script>

<link href="libraries/fancytree/skin-win8/ui.fancytree.css" rel="stylesheet">
<script src="libraries/fancytree/jquery.fancytree-all-deps.min.js"></script>

<link href="libraries/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<script src="libraries/bootstrap/js/bootstrap.bundle.min.js"></script>

<script src="javascripts/services/mobile.js" crossorigin type="module"></script>

<link href="stylesheets/style.css" rel="stylesheet">
<link href="stylesheets/mobile.css" rel="stylesheet">

<link rel="stylesheet" type="text/css" href="libraries/jam/css/jam.min.css">
</body>
</html>