<div id="right-pane" class="hide-in-zen-mode">
    <div style="text-align: center; margin-bottom: 5px;">
        <button class="hide-sidebar-button">hide sidebar <span class="bx bx-chevrons-right"></span></button>
    </div>

    <div class="sidebar-container">
    </div>
</div>