<div class="note-detail-sidebar hide-in-zen-mode" style="width: <%= sidebarWidthPercent %>%; min-width: <%= sidebarMinWidth %>px">
    <div style="text-align: center; margin-bottom: 5px;">
        <button class="hide-sidebar-button">hide sidebar <span class="bx bx-chevrons-right"></span></button>
    </div>

    <div class="note-detail-widget-container"></div>
</div>