<div class="note-title-row">
    <div style="display: flex; align-items: center;">
        <div class="dropdown hide-in-zen-mode">
            <button class="btn btn-sm dropdown-toggle note-path-list-button" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="note-path-count">1 path</span>

                <span class="caret"></span>
            </button>
            <ul class="note-path-list dropdown-menu" aria-labelledby="note-path-list-button">
            </ul>
        </div>

        <input autocomplete="off" value="" class="note-title" tabindex="1">

        <span class="saved-indicator hide-in-zen-mode bx bx-check" title="All changes have been saved"></span>

        <div class="hide-in-zen-mode" style="display: flex; align-items: center;">
            <button class="btn btn-sm icon-button bx bx-play-circle render-button"
                    style="display: none; margin-right: 10px;"
                    title="Render"></button>

            <button class="btn btn-sm icon-button bx bx-play-circle execute-script-button"
                    style="display: none; margin-right: 10px;"
                    title="Execute (Ctrl+Enter)"></button>

            <div class="btn-group btn-group-xs">
                <button type="button"
                        class="btn btn-sm icon-button bx bx-check-shield protect-button"
                        title="Protected note can be viewed and edited only after entering password">
                </button>

                <button type="button"
                        class="btn btn-sm icon-button bx bx-shield unprotect-button"
                        title="Not protected note can be viewed without entering password">
                </button>
            </div>

            &nbsp; &nbsp;

            <div style="display: flex;">
                <div class="dropdown note-type">
                    <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn btn-sm dropdown-toggle note-type-button">
                        Type: <span class="note-type-desc"></span>
                        <span class="caret"></span>
                    </button>
                    <div class="note-type-dropdown dropdown-menu dropdown-menu-right"></div>
                </div>

                <div class="dropdown note-actions">
                    <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn btn-sm dropdown-toggle">
                        Note actions
                        <span class="caret"></span>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item show-note-revisions-button" data-bind="css: { disabled: type() == 'file' || type() == 'image' }">Revisions</a>
                        <a class="dropdown-item show-attributes-button"><kbd data-kb-action="ShowAttributes"></kbd> Attributes</a>
                        <a class="dropdown-item show-link-map-button"><kbd data-kb-action="ShowLinkMap"></kbd> Link map</a>
                        <a class="dropdown-item show-source-button" data-bind="css: { disabled: type() != 'text' && type() != 'code' && type() != 'relation-map' && type() != 'search' }">
                            <kbd data-kb-action="ShowNoteSource"></kbd>
                            Note source
                        </a>
                        <a class="dropdown-item import-files-button">Import files</a>
                        <a class="dropdown-item export-note-button" data-bind="css: { disabled: type() != 'text' }">Export note</a>
                        <a class="dropdown-item print-note-button"><kbd data-kb-action="PrintActiveNote"></kbd> Print note</a>
                        <a class="dropdown-item show-note-info-button"><kbd data-kb-action="ShowNoteInfo"></kbd> Note info</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="note-title-attributes" tabindex="9999"></div>
</div>