body {
    /* -- Overrides generic colors. ------------------------------------------------------------- */

    --ck-color-base-text: var(--main-text-color);
    --ck-color-base-foreground: var(--accented-background-color);
    --ck-color-focus-border: var(--main-border-color);
    --ck-color-text: var(--main-text-color);
    --ck-color-shadow-drop: var(--main-background-color);
    --ck-color-shadow-inner: var(--main-background-color);

    /* -- Overrides the default .ck-button class colors. ---------------------------------------- */

    --ck-color-button-default-background: var(--accented-background-color);
    --ck-color-button-default-hover-background: var(--more-accented-background-color);
    --ck-color-button-default-active-background: var(--more-accented-background-color);
    --ck-color-button-default-active-shadow: var(--more-accented-background-color);
    --ck-color-button-default-disabled-background: var(--accented-background-color);

    --ck-color-button-on-background: var(--accented-background-color);
    --ck-color-button-on-hover-background: var(--more-accented-background-color);
    --ck-color-button-on-active-background: var(--more-accented-background-color);
    --ck-color-button-on-active-shadow: var(--more-accented-background-color);
    --ck-color-button-on-disabled-background: var(--main-background-color);

    --ck-color-button-action-background: var(--accented-background-color);
    --ck-color-button-action-hover-background: var(--more-accented-background-color);
    --ck-color-button-action-active-background: var(--more-accented-background-color);
    --ck-color-button-action-active-shadow: var(--more-accented-background-color);
    --ck-color-button-action-disabled-background: var(--main-background-color);
    --ck-color-button-action-text: var(--main-text-color);

    --ck-color-button-save: hsl(120, 100%, 46%);
    --ck-color-button-cancel: hsl(15, 100%, 56%);

    /* -- Overrides the default .ck-dropdown class colors. -------------------------------------- */

    --ck-color-dropdown-panel-background: var(--accented-background-color);
    --ck-color-dropdown-panel-border: var(--main-border-color);

    /* -- Overrides the default .ck-splitbutton class colors. ----------------------------------- */

    --ck-color-split-button-hover-background: var(--ck-color-button-default-hover-background);
    --ck-color-split-button-hover-border: var(--main-border-color);

    /* -- Overrides the default .ck-input class colors. ----------------------------------------- */

    --ck-color-input-background: var(--accented-background-color);
    --ck-color-input-border: var(--main-border-color);
    --ck-color-input-text: var(--main-text-color);
    --ck-color-input-disabled-background: var(--main-background-color);
    --ck-color-input-disabled-border: var(--main-border-color);
    --ck-color-input-disabled-text: var(--muted-text-color);

    /* -- Overrides the default .ck-list class colors. ------------------------------------------ */

    --ck-color-list-background: var(--accented-background-color);
    --ck-color-list-button-hover-background: var(--ck-color-base-foreground);
    --ck-color-list-button-on-background: var(--ck-color-base-active);
    --ck-color-list-button-on-background-focus: var(--ck-color-base-active-focus);
    --ck-color-list-button-on-text: var(--ck-color-base-background);

    /* -- Overrides the default .ck-balloon-panel class colors. --------------------------------- */

    --ck-color-panel-background: var(--accented-background-color);
    --ck-color-panel-border: var(--main-border-color);

    /* -- Overrides the default .ck-toolbar class colors. --------------------------------------- */

    --ck-color-toolbar-background: var(--accented-background-color);
    --ck-color-toolbar-border: var(--main-border-color);

    /* -- Overrides the default .ck-tooltip class colors. --------------------------------------- */

    --ck-color-tooltip-background: var(--accented-background-color);
    --ck-color-tooltip-text: var(--main-text-color);

    /* -- Overrides the default colors used by the ckeditor5-image package. --------------------- */

    --ck-color-image-caption-background: var(--main-background-color);
    --ck-color-image-caption-text: var(--main-text-color);

    /* -- Overrides the default colors used by the ckeditor5-widget package. -------------------- */

    --ck-color-widget-blurred-border: var(--main-border-color);
    --ck-color-widget-hover-border: var(--main-border-color);
    --ck-color-widget-editable-focus-background: var(--main-background-color);

    /* -- Overrides the default colors used by the ckeditor5-link package. ---------------------- */

    --ck-color-link-default: var(--link-color);

    --ck-color-table-focused-cell-background: var(--more-accented-background-color);

    --ck-color-labeled-field-label-background: var(--accented-background-color);

    /* todo lists */

    --ck-color-todo-list-checkmark-border: var(--main-border-color);

    --ck-color-engine-placeholder-text: var(--muted-text-color);

    --ck-z-modal: 10000;

    --ck-color-widget-type-around-button: var(--main-border-color);
    --ck-color-widget-type-around-button-hover: var(--main-border-color);
}
