body {
    font-size: var(--main-font-size);
}

#container {
    margin: 0 auto; /* center */
    height: 100vh;

    display: grid;
    grid-template-areas: "header header"
    "left-pane title"
    "left-pane note-detail";
    grid-template-rows: auto
    auto
    1fr;

    justify-content: center;
    grid-gap: 10px;
}

#search-box {
    display: none;
    padding: 10px;
    margin-top: 10px;
}

#tree {
    overflow: auto;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 60%;
    margin-top: 10px;
    font-size: var(--tree-font-size);
}

#left-pane {
    grid-area: left-pane;
    display: flex;
    flex-direction: column;
}

#header {
    grid-area: header;
    background-color: var(--header-background-color);
    display: flex;
    align-items: center;
    padding: 4px;
}

#header button {
    padding: 1px 5px 1px 5px;
    font-size: smaller;
    margin-bottom: 2px;
    margin-top: 2px;
    margin-right: 8px;
}

#history-navigation {
    margin: 0 15px 0 5px;
    position: relative;
    top: 2px;
}

#global-buttons {
    display: flex;
    justify-content: space-around;
    padding: 10px 0 10px 0;
    margin: 0 20px 0 10px;
    border: 1px solid #ddd;
    border-radius: 7px;
}

#context-menu-container {
    padding: 3px 0 0;
}

#context-menu-container .dropdown-item {
    padding: 0 7px 0 10px;
}

.fancytree-loading span.fancytree-expander {
    width: 16px;
    height: 16px;
    margin-left: 6px;
}

.fancytree-loading  span.fancytree-expander:after {
    width: 12px;
    height: 12px;
    margin-top: 2px;
    border-width: 1px;
    border-style: solid;
}

#note-detail-wrapper {
    font-size: var(--detail-font-size);
}