/*
 * We have specific CSS file here instead of being part of the respective widgets to also include this in the printing process
 */

.note-detail-book {
    height: 100%;
    padding: 10px;
    position: relative;
}

.note-detail-book-content {
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
    height: 100%;
    align-content: start;
}

.note-book-card {
    border-radius: 10px;
    background-color: var(--accented-background-color);
    padding: 15px;
    padding-bottom: 5px;
    margin: 5px;
    margin-left: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}

.note-book-card .note-book-card {
    border: 1px solid var(--main-border-color);
}

.note-book-content {
    overflow: hidden;
}

.note-book-card.type-image .note-book-content, .note-book-card.type-file .note-book-content, .note-book-card.type-protected-session .note-book-content {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.note-book-card.type-image .note-book-content img, .note-book-card.type-text .note-book-content img {
    max-width: 100%;
    max-height: 100%;
}

.note-book-title {
    flex-grow: 0;
}

.note-book-content {
    flex-grow: 1;
}

.note-book-auto-message {
    background-color: var(--accented-background-color);
    text-align: center;
    width: 100%;
    border-radius: 10px;
    padding: 5px;
    margin-top: 5px;
}

.note-detail-image {
    text-align: center;
    height: 100%;
    overflow: auto;
}

.note-detail-image-view {
    max-width: 100%;
}

.note-detail-file {
    padding: 10px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.file-table th, .file-table td {
    padding: 10px;
    font-size: larger;
}

.file-preview-content {
    background-color: var(--accented-background-color);
    padding: 15px;
    max-height: 300px;
    overflow: auto;
    margin: 10px;
}
