html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

#container-row {
    height: 100%;
}

#left-pane {
    height: 100%;
    display: flex;
    flex-direction: column;
}

#global-buttons {
    display: flex;
    flex-shrink: 0;
    justify-content: space-around;
    padding: 10px 0 10px 0;
    margin: 0 10px 0 16px;
}

#tree {
    width: 100%;
    overflow: auto;
}

#tree .action-button {
    position: relative;
    top: -5px;
    margin-left: 10px;
}

#detail {
    padding: 5px 20px 10px 0px;
    height: 100%;
    flex-direction: column;
}

#note-tab-container {
    height: 100%;
}

.note-tab-row {
    display: none !important;
}

.note-title-row {
    display: flex;
    padding-left: 15px;
    padding-top: 10px;
    flex-shrink: 0;
}

.action-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.5em;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.fancytree-custom-icon {
    font-size: 2em;
}

.fancytree-title {
    font-size: 1.5em;
    margin-left: 0.6em !important;
}

.fancytree-node {
    padding: 5px;
}

.fancytree-node .fancytree-expander:before {
    font-size: 2em;
}

kbd {
    display: none;
}

.dropdown-menu {
    font-size: larger;
}

.fancytree-loading span.fancytree-expander {
    width: 32px;
    height: 32px;
    margin-left: 4px;
}

.fancytree-loading  span.fancytree-expander:after {
    width: 20px;
    height: 20px;
    margin: 4px;
    border-width: 2px;
    border-style: solid;
}

.note-detail-component-wrapper {
    position: relative;
    overflow: auto;
    flex-direction: column;
    /* for some reason detail overflows a little bit so we subtract few pixels */
    height: calc(100% - 25px);
    /* large left padding is necessary for ckeditor gutter in detail-only (smartphone) layout */
    padding-left: 35px;
    padding-top: 10px;
}