html, body {
    height:100vh;
    width:100vw;
    margin: 0;
    padding: 0;
}

#tree {
    font-size: larger;
    width: 100vw;
    height: 100vh;
    overflow: auto;
}

.modal-full {
    min-width: 100%;
    margin: 0;
}

.modal-backdrop {
    background-color: transparent;
}

.modal-full .modal-content {
    min-height: 100vh;
}

#detail {

}

.fancytree-custom-icon {
    font-size: 2em;
}

.fancytree-title {
    font-size: 1.5em;
    margin-left: 0.6em !important;
}

.fancytree-node {
    padding: 5px;
}

.fancytree-node .fancytree-expander {
    background: none;
    width: auto;
    height: auto;
}

.fancytree-node .fancytree-expander:before {
    font-family: 'jam-icons' !important;
    speak:none;font-style:normal;
    font-weight:normal;
    font-variant:normal;
    text-transform:none;
    line-height:1;
    font-size: 2em;
    padding-left: 5px;
    padding-right: 5px;
    content: "\e9bc";
}

.fancytree-node.fancytree-expanded .fancytree-expander:before {
    content: "\e9ba";
}