html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

#container-row {
    height: 100%;
}

#tree {
    font-size: larger;
    width: 100vw;
    height: 100vh;
    overflow: auto;
}

#tree .action-button {
    position: relative;
    top: -5px;
    margin-left: 10px;
}

#detail {
    padding: 20px 20px 10px 35px;
    height: 100%;
    flex-direction: column;
}

#detail-content {
    position: relative;
    overflow: auto;
    flex-direction: column;
    height: 100%;
}

#note-title-row {
    display: flex;
    padding-right: 10px;
}

.action-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.5em;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.fancytree-custom-icon {
    font-size: 2em;
}

.fancytree-title {
    font-size: 1.5em;
    margin-left: 0.6em !important;
}

.fancytree-node {
    padding: 5px;
}

.fancytree-node .fancytree-expander {
    background: none;
    width: auto;
    height: auto;
}

.fancytree-node .fancytree-expander:before {
    font-family: 'jam-icons' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    font-size: 2em;
    padding-left: 5px;
    padding-right: 5px;
    content: "\e9bc";
}

/* this is done to preserve correct indentation. Better solution would be preferable */
.fancytree-node:not(.fancytree-folder) .fancytree-expander:before {
    color: white;
}

.fancytree-node.fancytree-expanded .fancytree-expander:before {
    content: "\e9ba";
}

kbd {
    display: none;
}