#note-detail-relation-map {
    height: 100%;
    overflow: hidden !important;
}

#relation-map-wrapper {
    position: relative;
    height: 100%;
    outline: none; /* remove dotted outline on click */
}

.note-box {
    padding: 16px;
    position: absolute !important;
    z-index: 4;
    border: 1px solid #666;
    box-shadow: 2px 2px 19px #999;
    border-radius: 8px;
    opacity: 0.8;
    background-color: white;
    font-size: 11px;
    width: auto;
    height: auto;
    max-width: 200px;
    min-width: 150px;
    max-height: 200px;
    overflow: hidden;
}

.note-box:hover {
    background-color: #ddd;
}

.note-box .title {
    font-size: larger;
    font-weight: 600;
}

.connection-label.jtk-hover, .jtk-source-hover, .jtk-target-hover {
    background-color: #ddd;
}

.connection-label {
    background-color: white;
    opacity: 0.8;
    padding: 0.3em;
    border-radius: 0.5em;
    border: 1px solid #666;
    cursor: pointer;
}

.endpoint {
    position: absolute;
    bottom: 37%;
    right: 5px;
    width: 1em;
    height: 1em;
    background-color: #333;
    cursor: pointer;
    box-shadow: 0 0 2px black;
}

.endpoint:hover {
    box-shadow: 0 0 6px black;
}

.statemachine-demo .jtk-endpoint {
    z-index: 3;
}

.dragHover {
    border: 2px solid orange;
}

path, .jtk-endpoint { cursor:pointer; }

.ui-contextmenu {
    z-index: 100;
}

.floating-button {
    position: absolute !important;
    z-index: 100;
}