html {
    /* this fixes FF filter vs. position fixed bug: https://github.com/zadam/trilium/issues/233 */
    height: 100%;
}

body {
    /* Fix for CKEditor block gutter icon "stretching" body and causing scrollbar to appear after pressing enter
       on the last line of the editor. */
    position: fixed;
    width: 100%;
    background-color: var(--main-background-color);
    color: var(--main-text-color);
    font-family: var(--main-font-family);
}

a, a:visited, a:hover {
    color: var(--link-color);
}

input, select, textarea {
    color: var(--input-text-color) !important;
    background: var(--input-background-color) !important;
}

button.btn, button.btn-sm {
    font-size: inherit;
}

.input-group-text {
    background-color: var(--accented-background-color) !important;
    color: var(--muted-text-color) !important;
}

table td, table th {
    color: var(--main-text-color);
}

button.close {
    color: var(--main-text-color);
}

button.close:hover {
    color: var(--hover-item-text-color);
}

.modal-content {
    background-color: var(--modal-background-color) !important;
}

.nav-link.active {
    background-color: inherit !important;
    color: var(--main-text-color) !important;
}

ul.fancytree-container {
    /* override specific size from fancytree.css */
    font-family: inherit !important;
    font-size: inherit !important;
}

.fancytree-title {
    margin-left: 7px !important;
}

.fancytree-node:not(.fancytree-loading) .fancytree-expander {
    background: none;
    width: auto;
    height: auto;
}

.fancytree-node:not(.fancytree-loading) .fancytree-expander:before {
    font-family: 'jam-icons' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    padding-left: 5px;
    padding-right: 5px;
    content: "\e9bc";
}

/* this is done to preserve correct indentation. Better solution would be preferable */
.fancytree-node:not(.fancytree-folder) .fancytree-expander:before {
    color: var(--main-background-color); /* setting to background color makes this invisible */
}

.fancytree-node.fancytree-expanded .fancytree-expander:before {
    content: "\e9ba";
}

.note-title[readonly] {
    background: inherit;
}

.tdialog {
    display: none;
}

.note-tab-content-template {
    display: none !important;
}

.note-tab-content {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.note-detail-component-wrapper {
    flex-grow: 100;
    position: relative;
    overflow: auto;
    flex-basis: content;
    height: 100%;
    display: flex;
    flex-direction: column;
    min-height: 200px;
    word-break: break-all; /* otherwise CKEditor fails miserably on super long lines */
    font-family: var(--detail-font-family);
    font-size: var(--detail-font-size);
}

.note-detail-component {
    flex-grow: 100;
    display: none;
}

.note-detail-text h1 { font-size: 2.0em; }
.note-detail-text h2 { font-size: 1.8em; }
.note-detail-text h3 { font-size: 1.6em; }
.note-detail-text h4 { font-size: 1.4em; }
.note-detail-text h5 { font-size: 1.2em; }
.note-detail-text h6 { font-size: 1.1em; }

.note-detail-text {
    overflow: auto;
    font-family: var(--detail-text-font-family);
}

.note-detail-text-editor {
    padding-top: 10px;
    border: 0 !important;
    box-shadow: none !important;
    /* This is because with empty content height of editor is 0 and it's impossible to click into it */
    min-height: 200px;
}

.note-detail-text p:first-child, .note-detail-text::before {
    margin-top: 0;
}

/** we disable shield background when in distraction free mode because I couldn't get it to stay static
    (it kept growing with content) */
#container:not(.distraction-free-mode) .note-tab-content.protected {
    /* DON'T COLLAPSE THE RULES INTO SINGLE ONE, BACKGROUND WON'T DISPLAY */
    background: url('../images/shield.svg') no-repeat;
    background-size: contain;
    background-position: center;
}

ul.fancytree-container {
    outline: none !important;
    background-color: inherit !important;
}

.fancytree-custom-icon {
    font-size: 1.3em;
}

span.fancytree-title {
    color: inherit !important;
    background: inherit !important;
}

span.fancytree-node.protected > span.fancytree-custom-icon {
    filter: drop-shadow(2px 2px 2px black);
}

span.fancytree-node.multiple-parents .fancytree-title {
    text-decoration: underline dotted;
}

span.fancytree-node.fancytree-active-clone:not(.fancytree-active) .fancytree-title {
    font-weight: bold;
}

/* first nesting level has lower left padding to avoid extra left padding. Other levels are not affected */
.ui-fancytree > li > ul {
    padding-left: 5px;
}

span.fancytree-active .fancytree-title {
    font-weight: bold;
    border-color: var(--main-border-color) !important;
    border-radius: 5px;
}

span.fancytree-active:not(.fancytree-focused) .fancytree-title {
    border-style: dashed !important;
}

span.fancytree-focused .fancytree-title, span.fancytree-focused.fancytree-selected .fancytree-title {
    color: var(--active-item-text-color) !important;
    background-color: var(--active-item-background-color) !important;
    border-color: var(--main-background-color) !important; /* invisible border */
    border-radius: 5px;
}

span.fancytree-selected .fancytree-title {
    color: var(--hover-item-text-color) !important;
    background-color: var(--hover-item-background-color) !important;
    border-color: var(--main-background-color) !important; /* invisible border */
    border-radius: 5px;
    font-style: italic;
}

span.fancytree-node:hover span.fancytree-title {
    border-color: var(--main-border-color) !important;
    border-radius: 5px;
}

.ui-autocomplete {
    max-height: 300px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
}

.icon-action:hover {
    text-decoration: none;
}

.icon-action {
    cursor: pointer;
    font-size: 1.5em;
}

.ui-widget-content a:not(.ui-tabs-anchor) {
    color: #337ab7 !important;
}

div.ui-tooltip {
    max-width: 600px;
    max-height: 600px;
    overflow: auto;
}

.alert {
    padding: 5px;
    width: auto;
}

#search-results {
    padding: 0 5px 5px 15px;
    flex-basis: 40%;
    flex-grow: 1;
    flex-shrink: 1;
    margin-top: 10px;
    display: none;
    overflow: auto;
    border-bottom: 2px solid var(--main-border-color);
}

#search-results ul {
    padding: 5px 5px 5px 15px;
}

#search-text {
    border: 1px solid var(--main-border-color);
}

/*
* .search-inactive is added to search window <webview> when the window
* is inactive.
*/
.search-inactive {
    visibility: hidden;
}

/*
* .search-inactive is added to search window <webview> when the window
* is active.
*/
.search-active {
    visibility: visible;
}

.electronSearchText-box {
    display: none;
}
.electronSearchText-visible {
    display: block;
}

/* Allow to use <kbd> elements inside the title to define shortcut hints. */
.ui-menu kbd, button kbd {
    color: var(--muted-text-color);
    border: none;
    background-color: transparent;
    box-shadow: none;
}

.ui-menu kbd {
    margin-left: 30px;
    float: right;
}

#note-source {
    height: 98%;
    width: 100%;
    overflow: scroll;
}

.suppressed {
    display: none;
}

.dropdown-menu {
    color: var(--menu-text-color) !important;
    background-color: var(--menu-background-color) !important;
}

.dropdown-menu .disabled {
    color: #888 !important;
}

.dropdown-menu a:hover:not(.disabled), li.dropdown-item:hover:not(.disabled) {
    color: var(--hover-item-text-color) !important;
    background-color: var(--hover-item-background-color) !important;
    cursor: pointer;
}

.dropdown-menu a:not(.selected) .check {
    visibility: hidden;
}

.dropdown-menu kbd
{
    color: var(--muted-text-color);
    border: none;
    background-color: transparent;
    box-shadow: none;
}

.dropdown-menu kbd {
    float: right;
}

.dropdown-item {
    color: var(--menu-text-color) !important;
}

.dropdown-item.disabled, .dropdown-item.disabled kbd {
    color: #aaa !important;
}

.note-detail-code {
    overflow: auto;
}

.note-detail-code-editor {
    min-height: 200px;
}

.note-detail-render {
    min-height: 200px;
}

.CodeMirror {
    font-family: "Liberation Mono", "Lucida Console", monospace;
    height: auto;
    background: inherit;
}

.CodeMirror-scroll {
    min-height: 200px;
}

.CodeMirror-gutters {
    background-color: inherit !important;
    border-right: none;
}

.note-type-dropdown {
    max-height: 500px;
    overflow-y: auto;
    overflow-x: hidden;
}

.cm-matchhighlight {background-color: #eeeeee}

#attribute-list {
    overflow: auto;
    /* limiting the size since actual note content is more important */
    max-height: 30%;
    flex-shrink: 0;
    flex-basis: 2em;
}

#label-list, #relation-list, #attribute-list {
    color: var(--muted-text-color);
    padding: 5px;
    display: none;
}

#label-list button, #relation-list button, #attribute-list button {
    padding: 2px;
    margin-right: 5px;
}

.file-table th, .file-table td {
    padding: 10px;
    font-size: larger;
}

.children-overview {
    flex-grow: 1000;
    flex-shrink: 1000;
    flex-basis: 0;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    height: 110px;
    overflow: auto;
}

.child-overview-item {
    font-weight: bold;
    padding: 10px;
    background: var(--accented-background-color);
    width: 150px;
    height: 90px;
    line-height: 2em;
    margin-right: 20px;
    border-radius: 15px;
    overflow: hidden;
    text-align: center;
    margin-top: 15px;
    text-overflow: ellipsis;
    word-wrap: break-word;
}

.child-overview-item a {
    color: var(--muted-text-color);
}

#sql-console-query {
    height: 150px;
    width: 100%;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

#sql-console-query .CodeMirror {
    height: 150px;
}

.btn {
    border-radius: var(--button-border-radius);
}

.btn:not(.btn-primary):not(.btn-secondary):not(.btn-danger) {
    border-color: var(--button-border-color);
    background-color: var(--button-background-color);
    color: var(--button-text-color);
}

.btn.active:not(.btn-primary) {
    background-color: var(--button-disabled-background-color) !important;
}

.note-path-list a.current {
    font-weight: bold;
}

button.icon-button {
    font-size: 1.5em;
    padding: 2px;
}

.note-actions {
    margin-left: 10px;
    margin-right: 10px;
}

.note-actions .dropdown-menu {
    width: 15em;
}

#global-menu .dropdown-menu {
    width: 20em;
}

.ck.ck-block-toolbar-button {
    transform: translateX(7px);
    color: var(--muted-text-color);
    background-color: var(--main-background-color);
    /* Making this narrower because https://github.com/zadam/trilium/issues/502 (problem only in smaller font sizes) */
    min-width: 0;
    padding: 0;
}

.note-detail-promoted-attributes {
    margin: auto;
    /* setting the display to block since "table" doesn't support scrolling */
    display: block;
    flex-basis: content;
    flex-shrink: 1;
    flex-grow: 0;
    overflow: auto;
}

.note-detail-promoted-attributes td, .note-detail-promoted-attributes th {
    padding: 5px;
}

.note-detail-image {
    text-align: center;
}

.note-detail-image-view {
    max-width: 100%;
}

pre:not(.CodeMirror-line) {
    color: var(--main-text-color) !important;
}

.file-preview-content {
    background-color: var(--accented-background-color);
    padding: 15px;
    max-width: 600px;
    max-height: 300px;
    overflow: auto;
}

.pointer {
    cursor: pointer;
}

.show-recent-notes-button {
    cursor: pointer;
    font-size: 1.3em;
    padding-left: 5px;
    padding-right: 5px;
}

.input-clearer-button {
    cursor: pointer;
    font-size: 1.3em;
    background: inherit !important;
    padding-left: 5px;
    padding-right: 5px;
}

.open-external-link-button {
    cursor: pointer;
    font-size: 1.3em;
    padding-left: 5px;
    padding-right: 5px;
}

.go-to-selected-note-button {
    cursor: pointer;
    font-size: 1.3em;
    padding-left: 4px;
    padding-right: 3px;
}

.go-to-selected-note-button.disabled, .go-to-selected-note-button.disabled:hover {
    cursor: inherit;
    color: var(--button-disabled-background-color) !important;
}

.note-autocomplete-input {
    /* this is for seamless integration of "input clearer" button */
    border-right: 0;
}

table.promoted-attributes-in-tooltip {
    margin: auto;
}

table.promoted-attributes-in-tooltip td, table.promoted-attributes-in-tooltip th {
    padding: 10px;
}

.note-detail-render-help {
    margin: 50px;
    padding: 20px;
}

.tooltip {
    font-size: var(--main-font-size) !important;
}

.tooltip-inner {
    background-color: var(--tooltip-background-color) !important;
    max-width: 500px;
    /* height needs to stay small because tooltip has problem when it can't fit to either top or bottom of the cursor */
    max-height: 300px;
    overflow: hidden;
    border: 1px solid var(--main-border-color);
    border-radius: 5px;
    text-align: left;
    color: var(--main-text-color) !important;
}

.tooltip-inner img {
    max-width: 250px;
    max-height: 250px;
}

.tooltip-inner figure.image-style-side {
    float: right;
}

.tooltip.show {
    opacity: 1;
}

.algolia-autocomplete {
    width: calc(100% - 30px);
    z-index: 2000 !important;
}

.algolia-autocomplete .aa-input, .algolia-autocomplete .aa-hint {
    width: 100%;
}

.algolia-autocomplete .aa-dropdown-menu {
    width: 100%;
    background-color: var(--main-background-color);
    border: 1px solid var(--main-border-color);
    border-top: none;
    z-index: 2000 !important;
    max-height: 500px;
    overflow: auto;
    padding: 0;
    margin: 0;
}

.algolia-autocomplete .aa-dropdown-menu .aa-suggestion {
    cursor: pointer;
    padding: 5px;
    margin: 0;
}

.algolia-autocomplete .aa-dropdown-menu .aa-suggestion p {
    padding: 0;
    margin: 0;
}

.algolia-autocomplete .aa-dropdown-menu .aa-suggestion.aa-cursor {
    color: var(--hover-item-text-color);
    background-color: var(--hover-item-background-color);
}

.help-button {
    float: right;
    background: none;
    font-weight: 900;
    color: orange;
    border: 0;
    cursor: pointer;
}

.multiplicity {
    font-size: 1.3em;
}

/* this is because bootstrap (?) sets code color to red for some reason */
code {
    color: inherit !important;
}

.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translate3d(0, -100%, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.fadeInDown {
    animation-name: fadeInDown;
}

@keyframes fadeOutUp {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
}

.fadeOutUp {
    animation-name: fadeOutUp;
}

div[data-notify="container"] {
    text-align: center;
}

.saved-indicator {
    font-size: 150%;
}

#export-form .form-check {
    padding-top: 10px;
    padding-bottom: 10px;
}

#export-form .format-choice {
    padding-left: 40px;
    display: none;
}

#export-form #opml-versions {
    padding-left: 60px;
    display: none;
}

#export-form .form-check-label {
    padding: 2px;
}

.unhoist-button {
    text-decoration: underline !important;
    color: var(--link-color) !important;
    cursor: pointer !important;
}

#protected-session-password-component {
    max-width: 450px;
    margin: auto;
    padding-top: 50px;
}

.ck-editor__is-empty.ck-content.ck-editor__editable::before {
    content: 'You can start writing note here ...';
    position: absolute;
    display: block;

    margin: var(--ck-spacing-large) 0;

    color: var(--muted-text-color);
}

.ck-content .table table th {
    background-color: var(--accented-background-color);
}

.fancytree-loading span.fancytree-expander {
    background-image: none !important;
    display: inline-block;
}

.fancytree-loading  span.fancytree-expander:after {
    content: " ";
    display: block;
    border-radius: 50%;
    border-color: #000 transparent #000 transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.ck-content .image > figcaption {
    color: var(--main-text-color) !important;
    background-color: var(--accented-background-color) !important;
}

#options-dialog input[type=number] {
    text-align: right;
}

.help-cards ul {
    padding-left: 20px;
}

.help-cards kbd {
    color: var(--main-text-color);
    background-color: var(--accented-background-color);
    border: 1px solid var(--main-border-color);
    padding: 2px;
}

#sql-console-tables button {
    padding: 0.25rem 0.4rem;
    font-size: 0.875rem;
    line-height: 0.5;
    border-radius: 0.2rem;
}

a.external:after, a[href^="http://"]:after, a[href^="https://"]:after {
    font-size: smaller;
    content: "\2197";
    vertical-align: top;
}

.card {
    background-color: inherit !important;
    border-color: var(--main-border-color) !important;
}

.jam-empty {
    width: 1em;
    display: inline-block;
}

.protected-session-password-component {
    width: 300px;
    margin: 30px auto auto;
}

.note-detail-empty {
    margin: 50px;
}

.modal-header {
    padding: 0.7rem 1rem !important; /* make modal header padding slightly smaller */
}