html, body {
  margin: 0;
  width: 100%;
  height: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Meiryo", sans-serif;
  overflow: hidden;
}

.inpage-search-body {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 8px;
  padding: 10px;
  border: solid #aaaaaa 1px;
  border-radius: 10px;
  background-color: #fafafa;
}

.inpage-search-input {
  width: 200px;
}

.inpage-search-matches {
  color: #999;
  font-size: 0.8em;
}

.inpage-search-back {
  margin-left: 2px;
  padding-left: 6px;
  padding-right: 2px;
  cursor: pointer;
}

.inpage-search-forward {
  padding-left: 2px;
  padding-right: 6px;
  cursor: pointer;
}

.inpage-search-close {
  margin-left: 4px;
  padding: 0 2px;
  cursor: pointer;
}

.inpage-search-back:hover,
.inpage-search-forward:hover,
.inpage-search-close:hover {
  background-color: #e2e0e2;
  border-radius: 0.2em;
}
