body {
    display: grid;
    height: 100vh;
    grid-template-areas: "messages messages"
                         "search title"
                         "tree-buttons note-content"
                         "tree note-content";
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto
                        auto
                        auto
                        1fr;
    grid-gap: 10px;
}

.note-editable {
    /* This is because with empty content height of editor is 0 and it's impossible to click into it */
    min-height: 400px;
    overflow: auto;
}

.note-editable.encrypted {
    background-color: #eee;
}

#top-message {
    display: none; /* initial state is hidden */
    background-color: #e0e0e0;
    color: #333;
    padding: 5px;
    border-radius: 10px;
}

#error-message {
    margin-top: 2px;
    display: none; /* initial state is hidden */
    background-color: red;
    color: white;
    padding: 5px;
    border-radius: 10px;
}

.note-editable p {
    padding: 0;
    margin: 0;
}

ul.fancytree-container {
    overflow: auto;
    position: relative;
    outline: none !important;
}

/* icons from https://feathericons.com */
span.fancytree-node > span.fancytree-icon {
    background-position: 0 0;
    background-image: url("icons/file.png");
}

span.fancytree-node.fancytree-folder > span.fancytree-icon {
    background-position: 0 0;
    background-image: url("icons/folder.png");
}

span.fancytree-node.encrypted > span.fancytree-icon {
    background-position: 0 0;
    background-image: url("icons/file-shaded.png");
}

span.fancytree-node.encrypted.fancytree-folder > span.fancytree-icon {
    background-position: 0 0;
    background-image: url("icons/folder-shaded.png");
}

.ui-autocomplete {
    max-height: 300px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
}

.icon-action:hover {
    text-decoration: none;
}

#encryptButton, #decryptButton {
    display: none;
}