<div id="options-appearance" class="tab-pane active">
    <p><strong>Settings on this options tab are saved automatically after each change.</strong></p>

    <form>
        <div class="form-group row">
            <div class="col-4">
                <label for="theme-select">Theme</label>
                <select class="form-control" id="theme-select"></select>
            </div>

            <div class="col-4">
                <label for="zoom-factor-select">Zoom factor (desktop build only)</label>

                <input type="number" class="form-control" id="zoom-factor-select" min="0.3" max="2.0" step="0.1"/>
            </div>

            <div class="col-4">
                <label for="one-tab-display-select">If there's only one tab, then...</label>
                <select class="form-control" id="one-tab-display-select">
                    <option value="show">show the tab bar</option>
                    <option value="hide">hide the tab bar</option>
                </select>
            </div>
        </div>

        <p>Zooming can be controlled with CTRL-+ and CTRL-= shortcuts as well.</p>

        <h4>Font sizes</h4>

        <div class="form-group row">
            <div class="col-4">
                <label for="main-font-size">Main font size</label>

                <div class="input-group">
                    <input type="number" class="form-control" id="main-font-size" min="50" max="200" step="10"/>
                    <div class="input-group-append">
                        <span class="input-group-text">%</span>
                    </div>
                </div>
            </div>

            <div class="col-4">
                <label for="tree-font-size">Note tree font size</label>

                <div class="input-group">
                    <input type="number" class="form-control" id="tree-font-size" min="50" max="200" step="10"/>
                    <div class="input-group-append">
                        <span class="input-group-text">%</span>
                    </div>
                </div>
            </div>

            <div class="col-4">
                <label for="detail-font-size">Note detail font size</label>

                <div class="input-group">
                    <input type="number" class="form-control" id="detail-font-size" min="50" max="200" step="10"/>
                    <div class="input-group-append">
                        <span class="input-group-text">%</span>
                    </div>
                </div>
            </div>
        </div>

        <p>Note that tree and detail font sizing is relative to the main font size setting.</p>

        <h4>Left pane sizing</h4>

        <div class="form-group row">
            <div class="col-6">
                <label for="left-pane-min-width">Left pane minimum width (in pixels)</label>

                <div class="input-group">
                    <input type="number" class="form-control" id="left-pane-min-width" min="100" max="2000" step="1"/>

                    <div class="input-group-append">
                        <span class="input-group-text">px</span>
                    </div>
                </div>
            </div>

            <div class="col-6">
                <label for="left-pane-min-width">Left pane width percent of window size</label>

                <div class="input-group">
                    <input type="number" class="form-control" id="left-pane-width-percent" min="0" max="99" step="1"/>

                    <div class="input-group-append">
                        <span class="input-group-text">%</span>
                    </div>
                </div>
            </div>
        </div>

        <p>Left pane width is calculated from the percent of window size, if this is smaller than minimum width, then minimum width is used. If you want to have fixed width left pane, set minimum width to the desired width and set percent to 0.</p>

    </form>
</div>