<div id="options-change-password" class="tab-pane">
    <form id="change-password-form">
        <div class="form-group">
            <label for="old-password">Old password</label>
            <input class="form-control" id="old-password" type="password">
        </div>

        <div class="form-group">
            <label for="new-password1">New password</label>
            <input class="form-control" id="new-password1" type="password">
        </div>

        <div class="form-group">
            <label for="new-password2">New password once more</label>
            <input class="form-control" id="new-password2" type="password">
        </div>

        <button class="btn btn-primary">Change password</button>
    </form>
</div>