<div id="options-code-notes" class="tab-pane">
    <h4>Available MIME types in the dropdown</h4>

    <ul id="options-mime-types" style="max-height: 500px; overflow: auto; list-style-type: none;"></ul>
</div>