<div id="options-note-revisions" class="tab-pane">
    <h3>Note revisions snapshot interval</h3>

    <p>Note revision snapshot time interval is time in seconds after which new note revision will be created for the note.</p>

    <form id="note-revision-snapshot-time-interval-form">
        <div class="form-group">
            <label for="note-revision-snapshot-time-interval-in-seconds">Note revision snapshot time interval (in seconds)</label>
            <input class="form-control" id="note-revision-snapshot-time-interval-in-seconds" type="number">
        </div>

        <div style="display: flex; justify-content: space-between;">
            <button class="btn btn-primary">Save</button>

            <button class="btn btn-secondary" type="button" data-help-page="Note-revisions">Help</button>
        </div>
    </form>
</div>