<div id="options-protected-session" class="tab-pane">
    <h3>Protected session timeout</h3>

    <p>Protected session timeout is a time period after which the protected session is wiped out from
        browser's memory. This is measured from the last interaction with protected notes.</p>

    <form id="protected-session-timeout-form">
        <div class="form-group">
            <label for="protected-session-timeout-in-seconds">Protected session timeout (in seconds)</label>
            <input class="form-control" id="protected-session-timeout-in-seconds" type="number">
        </div>

        <div style="display: flex; justify-content: space-between;">
            <button class="btn btn-primary">Save</button>

            <button class="btn btn-secondary" type="button" data-help-page="Protected-notes">Help</button>
        </div>
    </form>
</div>